html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    background-image: url(images/image1.png);
    min-height: 100%;
}

.pimg2 {
    background-image: url(images/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.ptext {
    text-align: center;
    position: absolute;
    top: 50%;
    color: black;
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 8px;
    width: 100%;
}

.textbg {
    background-color: #313534;
    color: white;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

@media (max-width: 433px) {
    .textbg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}