@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    font-size: 1.4rem;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 9px 5px rgb(33 29 29 / 10%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    font-size: 1.8rem;
    font-weight: 500;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav i {
    font-size: 2.5rem;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/* hero section */

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text h1 {
    font-size: 6rem;
}

.hero-text h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

.hero-image img {
    border-radius: 5rem;
    height: 30rem;
}

.h-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0px 9px 5px rgb(33 29 29 / 10%);
    margin-top: 7rem;
    margin-right: 5rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
}

.card-content h2 {
    font-size: 3rem;
}

.card-content p {
    font-weight: 500;
    color: gray;
}

.card-content img {
    height: 26rem;
}

.status {
    justify-content: space-between;
    display: flex;
    padding-top: 1rem;
}

.read-btn {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.read-btn:hover {
    text-decoration: underline;
}

/* card section */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-top: 5rem;
    margin-right: 2rem;
}

.card-text {
    width: 26rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card-text p {
    font-weight: 500;
    color: gray;
}

.card-items {
    width: 29.8rem;
    border: 1px solid #ccc;
}

.card-items img {
    width: 100%;
}

.card-content h3 {
    font-size: 4rem;
    width: 32rem;
}

.long {
    background-color: #dee6e6a3;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem auto;
    align-items: center;
    border-top: 1px solid;
    padding: 1rem;
}

footer p {
    font-size: 1.5rem;
    font-weight: 500;
}

footer ul {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

/* post page */

.post {
    max-width: 900px;
    margin: 4rem auto;
}

.post section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-author {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 1rem;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.post article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner-images img {
    width: 100%;
}

.post section h1 {
    font-size: 4rem;
}