@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  background-color: var(--darker-color);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

header {
  background-color: var(--lighting-color);
  position: sticky;
  top: 0;
  z-index: 100000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav li {
  font-size: 1.7rem;
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

/* Hero Section */

#hero {
  background-color: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 6px solid var(--lighting-color);
  scroll-margin: 3.5rem;
}

.hero-image img {
  width: 41rem;
}

#hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hi_text {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.name_text {
  font-size: 5rem;
}

#hero h2 {
  font-size: 4.7rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  margin: 0 auto;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

/* Project Section */

#projects {
  background-color: var(--darker-color);
  scroll-margin: 3rem;
}

#projects h2 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 2rem 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.card-content h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

.grid-item {
  display: grid;
  place-items: center;
}

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

.card:hover .card-content {
  background-color: white;
  color: var(--dark-color);
  transform: translateY(0px);
}

.card-content {
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  padding: 1rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
  white-space: nowrap;
}

.card-content h3 {
  text-align: center;
  font-size: 2.5rem;
}

/* Contact Section */

#contact {
  background-color: var(--dark-color);
  padding: 3.5rem 0 0 0;
  margin: 5rem 0 0 0;
  height: 50vh;
}

#contact h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  padding: 2rem 0;
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 3rem;
  flex-wrap: wrap;
}

.contact-way {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bottom-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 3rem;
}

/* Footer Section */

footer {
  background-color: var(--darker-color);
}

footer h4 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  .hero-content {
    padding-right: 2rem;
  }

  #contact {
    height: 34vh;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 32%;
  }

  .hero-content {
    padding-right: 2rem;
  }

  #contact {
    height: 29vh;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 28%;
  }

  .hero-content {
    padding-right: 2rem;
  }

  #contact {
    height: 25vh;
  }
}

@media (max-width: 435px) {
  html {
    font-size: 30%;
  }

  .hero-content {
    padding-right: 2rem;
  }

  #contact {
    height: 18vh;
  }

  #hero .container {
    flex-direction: column;
  }
}
