@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #a9a9a9;
}

.container {
    width: 600px;
    background-color: white;
    margin: 80px auto;
    box-shadow: 4px 9px 5px rgb(33 29 29 / 10%);
    border-radius: 12px;
    padding: 30px;
}

.title h1 {
    font-size: 40px;
}

.title span {
    font-size: 25px;
    color: hsla(227, 91%, 18%, 1);
}

.form-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-size: 15px;
}

input,
textarea,
select {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid gray;
    font-weight: 500;
}

input,
textarea:focus {
    outline-color: red;
}

.textarea-control {
    grid-column: 1 / span 2;
}

.textarea-control textarea {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.btn button {
    background-color: red;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #e04040;
}

@media (max-width:460px) {
    .textarea-control {
    grid-column: 1 / span 1;
}

    .form-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 15px;
}

}