* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hero-image {
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 20px;
    padding: 80px 0px 70px 299px;
}

.hero-text span {
    font-size: 38px;
}

.introduction {
    height: 157px;
    background-color: black;
}

.introduction h1 {
    text-transform: uppercase;
    color: #fff;
    padding: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
}

.introduction strong {
    font-size: 65px;
}

.bg {
    height: 350px;
    background-color: #fff;
}

.card {
    width: 320px;
    box-shadow: 0px 9px 5px rgb(33 29 29 / 10%);
    border-radius: 12px;
    height: 386px
}

.card img {
    width: 320px;
    border-radius: 12px;
}

.card h2 {
    margin-top: 20px;
    padding-left: 5px;
}

.text {
    padding: 7px;
}

.text p {
    padding: 7px;
    font-weight: 400;
    color: gray;
    font-family: revert-layer;
    padding-top: 15px
}

.bg {
    display: flex;
    justify-content: center;
    gap: 69px;
    margin-top: 50px;
}

.contact {
    width: 50%;
    background-color: #484b11;
    margin-top: 130px;
    padding: 25px;
}

.contact h3 {
    font-size: 28px;
    color: white;
}

.contact p {
    color: #f0f0be;
    font-weight: normal;
    font-size: 18px;
}

.contact h4 {
    color: #f0f0be;
    font-weight: normal;
    font-size: 20px;
    padding-top: 21px;
}

.about {
    background-color: #60250c;
}

.about h4 {
    color: #f0f0be;
    font-weight: normal;
    font-size: 18px;
    padding-top: 21px;
}

.section {
    display: flex;
}

.footer {
    height: 48px;
    background-color: #171717;
}

.footer h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
}